@page "/"
@using Hangfire
@inject IBackgroundJobClient BackgroundJobClient
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.SignalR.Client

<h3>Hangfire Job Demo</h3>

<button class="btn btn-primary" @onclick="StartJob" disabled="@isRunning">
    Start Job
</button>

@if (isRunning)
{
    <div class="progress mt-3" style="height:25px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
             style="width:@progress%">
            @progress%
            
        </div>
    </div>
    <br />
    @status
}

@code {

    int progress = 0;
    bool isRunning = false;
    string status = "Starting job...";

    HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/progresshub"))
            .Build();

        hubConnection.On<int, string>("ReceiveProgress", (percent, message) =>
        {
            progress = percent;
            status = message;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    void StartJob()
    {
        progress = 0;
        isRunning = true;

        BackgroundJobClient.Enqueue<HangfireBlazorDemo.Jobs.MyBackgroundJob>(x => x.RunJob(null));
    }

}